

* {
	box-sizing: border-box;
}

body {
	background-color: #dc8c8c;
	color: wheat;
	font-family:'Playfair Display', serif;
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.card-body {
	background-color: #f0cece;
}

